@* @model IEnumerable<DataLayer.Models.Shelf>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
 @model IEnumerable<DataLayer.Models.Shelf>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Shelf List</h1>

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IsActived)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.BookCount)
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookCount)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mr-2">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mr-2">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
